<div id="course_form_container">
  <h2 style="margin-left: 10px;"><%="Studios With #{@style.name} Classes"%></h2>
  <ul class="studios_list">
    <% @providers.each do |p,c| %>
      <li class="<%= cycle("even", "odd") %>">
        <a href="<%= p.studios.count > 0 ? schedules_path(@city, @region_abbr, p, p.studios.first) :  "#" %>">
          <span class='name'>
            <strong><%= p.name %></strong>
          </span>
          <% if p.studios.count > 0 %>
            <span class='address' style='color:#999'><%= p.studios.count == 1 ?  p.studios.last.address : "Multiple locations" %></span>
          <% else %>
            <span class='address' style='color:#999'>No studios</span>
          <% end %>
          <span class='operations'>
            <img src='/images/phone.gif' width='20' height='20' />
          </span>
        </a>
      </li>
    <% end %>
  </ul>
</div>