<script>
  $(function(){
    $('.user_type').click(function(){
      if($(this).val() == 1){
        $('#user_is_yoga_teacher').attr('checked', true);
        $('.areas').show();
      }else {
        $('#user_is_yoga_teacher').attr('checked', false);
        $('.areas').hide();
      }
    });
  });
</script>
  <p>
    <strong>Who are you?</strong><br/>
    <%= f.radio_button :user_type, 0, :class => 'user_type'%> I'm a yoga student<br/>
    <%= f.radio_button :user_type, 1, :class => 'user_type' %> I'm an instructor<br/>
    <%= f.radio_button :user_type, 2, :class => 'user_type' %> I'm a studio owner
  </p>
  
  <p>
    <%= f.label :email %> <%= f.email_field :email %><br/>
    <%= f.label :password %> <%= f.password_field :password %><br/>
    <%= f.label :password_confirmation %> <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit "Next Step - Details, and privacy setting", :name => "next" %>
  </p>
