<script>
  $(function(){
   $("#areas").chosen();
   $("#user_is_yoga_teacher").click(function() {
     if($(this).attr('checked')){
     $('.areas').show();
   }else{
     $('.areas').hide();
   }
   });
  });
</script>
<p>
  <%= f.label :first_name %> <%= f.text_field :first_name %><br/>
  <%= f.label :last_name %> <%= f.text_field :last_name %><br/>
  <%= f.label :sanskrit_name %> <%= f.text_field :sanskrit_name %> (optional)
</p>

<p id="studio-fields">
  <%= f.label :studio_name %> <%= f.text_field :studio_name %> New entry<br/>
  <%= f.label :address %> <%= f.text_field :address %> <%= f.label :postal_code %> <%= f.text_field :postal_code %><br/>
  <%= f.label :city %> <%= f.text_field :city %><br/>
  <%= f.label :phone %> <%= f.text_field :phone %><br/>
  Note: You will be able to add additional studio locations once logged in
</p>

<p>
  <strong>Privacy Setting</strong><br/>
  Can we show your Last name? (Trust for the win!)
</p>

<p>
  <%= f.radio_button :privacy_id, 0 %> It can be published<br/>
  <%= f.radio_button :privacy_id, 1 %> Please only display the First character. Ex. Matt M.<br/>
  <%= f.radio_button :privacy_id, 2 %> Keep my last name private (only show first name)
</p>

<div><strong>Services You Offer</strong></div>
<%= fields_for :services do |s| %>
  <div><%= s.check_box :private_classes -%><span>Private Yoga Classes</span></div>
  <div><%= s.check_box :thai_massage -%><span>Thai Yoga Massage</span></div>
  <div><%= s.check_box :reiki -%><span>Reiki</span></div>
  <div><%= s.check_box :nutritionist -%><span>Nutritionist</span></div>
  <div><%= s.check_box :acupuncture -%><span>Acupuncture</span></div>
  <div><%= s.check_box :chiropractor -%><span>Chiropractor</span></div>
  <div><%= s.check_box :holistic_nutritionist -%><span>Holistic Nutritionist</span></div>
  <div><%= s.check_box :yoga_teacher_trainer -%><span>Yoga Teacher Trainer</span></div>
<%end%>
  <div><%= f.check_box :is_yoga_teacher -%><span>Yoga Teacher</span></div>
  <div class="areas" style="display: none;"><%= select_tag(:areas, options_for_select(@areas.map {|area| [area.city, area.id]}), {:style => "width: 350px;", :multiple =>  true, :prompt=>'select areas', 'data-placeholder' => "Cities I Teach in..."})%></div>
<p><%= f.submit  "Get started - remember, it's free!", :name => "commit" %></p>

